.editor{
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #ccc;
        margin-bottom: 1rem;

        h2{
            margin-bottom: 0.6rem;
        }
        
        button{
            padding: 0.5rem;
            border-radius: 50px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            transform: translateY(-50%);
        }

    }

    .ImageEditing{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        .left{
            width: 60%;
            background-color: #ffffff37;
            padding: 2rem;
            border-radius: 2rem;
            display: flex;
            justify-self: center;
            align-items: center;

            img{
                max-height: 60vh;
                object-fit: contain;
                object-position: center;
                width: 100%;
            }
            
        }

        .right{
            width: 28%;
            background-color: #ffffff37;
            padding: 1rem;
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            h3{
                text-align: center;
            }

            .filters{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-top: 1rem;

                h4{
                    margin-bottom: 0.5rem;
                }

                input[type="range"]{
                    width: 100%;
                    outline: none;
                    appearance: none;
                }
                input::-webkit-slider-thumb{
                    cursor: pointer;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    background-color: crimson;
                    transform: translateY(-50%);
                }

                input::-webkit-slider-runnable-track{
                    background-color: white;
                    height: 2px;
                    border-radius: 50px;
                }
            }

            button{
                padding: 0.5rem;
                border-radius: 50px;
                cursor: pointer;
                background-color: #ff0000;
                color: white;
                font-size: 1rem;
                font-weight: 600;
                border: none;
            }            
        }
    }
}